.container {
    width: 90%;
    margin: 7px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.label {
    font-weight: 600;
    font-size: 15px;
}

.input {
    width: 50%;
}