body {
  background-color: #113564;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Arimo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}